<h4> <%= @post.title %></h4>
<%= link @post.user.username, to: user_path(@conn, :show, @user) %></p>
<p> <%= @post.body %> </p>

<%= render Iskospace.CommentView, "new.html", changeset: @comment_changeset, action: post_comment_path(@conn, :create, @post) %>

<div class="comments">
 <h2>Comments</h2>
 <%= for comment <- @post.comments do %>
   <%= render Iskospace.CommentView, "comment.html", comment: comment %>
   <br>
 <% end %>
</div>